<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Calculadora de IVA</title>
</head>
<body>
    <div class="general">
        <div class="titulo">
            <h1 class="glow">Calculadora de IVA</h1>
            <h2>Calcula el IVA, neto y bruto en pesos chilenos</h2>
        </div>
        <div class="container">
            <div class="inputs">
                <div class="input-group">
                    <span class="currency-symbol">$</span>
                    <input type="text" id="campoTexto" placeholder="Ingresa el monto neto" autocomplete="off">
                </div>
                <p id="mensaje" class="error"></p>
            </div>
            
            <div class="divDeDivs">
                <div class="resultado">
                    <p>Si el monto neto es:</p>
                    <span class="numero" id="neto">$0</span>
                    <h3>IVA (19%):</h3>
                    <span class="numero" id="iva">$0</span>
                    <h2>BRUTO:</h2>
                    <span class="resaltar" id="bruto">$0</span>
                </div>
                <div class="resultado">
                    <p>Si el monto bruto es:</p>
                    <span class="numero resaltar" id="brutoMonto">$0</span>
                    <h3>IVA (19%): </h3>
                    <span class="numero" id="ivaBruto">$0</span>
                    <h2>NETO:</h2>
                    <span class="resaltar" id="netoBruto">$0</span>
                </div>
            </div>
        </div>
    </div>
    <script src="../index.js"></script>
</body>
</html>
